# UBER EXPLORATORY DATA ANALYSIS

Importing Libraries

In [72]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
print("Completed setting up environment")

Completed setting up environment

Preview of dataset

In [73]:
uber_df = pd.read_csv(r"C:\Users\kaart\Downloads\archive (1)\ncr_ride_bookings.csv")
uber_df.head()
uber_df.info()
uber_df.describe()          
uber_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           139500 non-null  float64
 9   Avg CTAT                           102000 non-null  float64
 10  Cancelled Rides by Customer        10500 non-null   float64
 11  Reason for cancelling by Customer  10500 non-null   object
 12  Cancelled Rides by Driver          27000 non-null   float64
 13  Driver Cancellation Reason         27000 non-null   object
 14  Incomplete Rides                   9000 non-null    float64
 15  Incomplete Rides Reason            9000 non-null    object
 16  Booking Value                      102000 non-null  float64
 17  Ride Distance                      102000 non-null  float64
 18  Driver Ratings                     93000 non-null   float64
 19  Customer Rating                    93000 non-null   float64
 20  Payment Method                     102000 non-null  object
dtypes: float64(9), object(12)
memory usage: 24.0+ MB

(150000, 21)

handling missing values

In [74]:
uber_df.isna().sum()

Date                                      0
Time                                      0
Booking ID                                0
Booking Status                            0
Customer ID                               0
Vehicle Type                              0
Pickup Location                           0
Drop Location                             0
Avg VTAT                              10500
Avg CTAT                              48000
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
Booking Value                         48000
Ride Distance                         48000
Driver Ratings                        57000
Customer Rating                       57000
Payment Method                        48000
dtype: int64

Filling up missing values

In [75]:
uber_df["Avg VTAT"]=uber_df["Avg VTAT"].fillna(0)
uber_df["Avg CTAT"]=uber_df["Avg CTAT"].fillna(0)
uber_df["Cancelled Rides by Customer"]=uber_df["Cancelled Rides by Customer"].fillna(0)
uber_df["Reason for cancelling by Customer"]=uber_df["Reason for cancelling by Customer"].fillna('unknown')
uber_df["Cancelled Rides by Driver"]=uber_df["Cancelled Rides by Driver"].fillna(0)
uber_df["Driver Cancellation Reason"]=uber_df["Driver Cancellation Reason"].fillna('unknown')
uber_df["Incomplete Rides"]=uber_df["Incomplete Rides"].fillna(0)
uber_df["Incomplete Rides Reason"]=uber_df["Incomplete Rides Reason"].fillna('unknown')
uber_df["Booking Value"]=uber_df["Booking Value"].fillna(0)
uber_df["Ride Distance"]=uber_df["Ride Distance"].fillna(0)
uber_df["Driver Ratings"]=uber_df["Driver Ratings"].fillna(0)
uber_df["Customer Rating"]=uber_df["Customer Rating"].fillna(0)
uber_df["Payment Method"]=uber_df["Payment Method"].fillna('unknown')

In [76]:
uber_df.isna().sum()

Date                                 0
Time                                 0
Booking ID                           0
Booking Status                       0
Customer ID                          0
Vehicle Type                         0
Pickup Location                      0
Drop Location                        0
Avg VTAT                             0
Avg CTAT                             0
Cancelled Rides by Customer          0
Reason for cancelling by Customer    0
Cancelled Rides by Driver            0
Driver Cancellation Reason           0
Incomplete Rides                     0
Incomplete Rides Reason              0
Booking Value                        0
Ride Distance                        0
Driver Ratings                       0
Customer Rating                      0
Payment Method                       0
dtype: int64

Changing datatypes of dataset

In [77]:
uber_df["Cancelled Rides by Customer"]=uber_df["Cancelled Rides by Customer"].astype('Int64')
uber_df["Reason for cancelling by Customer"]=uber_df["Reason for cancelling by Customer"].astype('string')
uber_df["Cancelled Rides by Driver"]=uber_df["Cancelled Rides by Driver"].astype('Int64')
uber_df["Driver Cancellation Reason"]=uber_df["Driver Cancellation Reason"].astype('string')
uber_df["Incomplete Rides"] = uber_df["Incomplete Rides"].astype('Int64')
uber_df["Incomplete Rides Reason"]=uber_df["Incomplete Rides Reason"].astype('string')
uber_df["Booking Value"]=uber_df["Booking Value"].astype('Int64')
uber_df["Payment Method"]=uber_df["Payment Method"].astype('string')
uber_df['Date'] = pd.to_datetime(uber_df['Date'],errors='coerce')
uber_df['Booking ID'] = uber_df['Booking ID'].astype('string')
uber_df['Booking Status'] = uber_df['Booking Status'].astype('string')
uber_df['Customer ID'] = uber_df['Customer ID'].astype('string')
uber_df['Vehicle Type'] = uber_df['Vehicle Type'].astype('string')
uber_df['Pickup Location'] = uber_df['Pickup Location'].astype('string')
uber_df['Drop Location'] = uber_df['Drop Location'].astype('string')

In [78]:
uber_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  datetime64[ns]
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  string
 3   Booking Status                     150000 non-null  string
 4   Customer ID                        150000 non-null  string
 5   Vehicle Type                       150000 non-null  string
 6   Pickup Location                    150000 non-null  string
 7   Drop Location                      150000 non-null  string
 8   Avg VTAT                           150000 non-null  float64
 9   Avg CTAT                           150000 non-null  float64
 10  Cancelled Rides by Customer        150000 non-null  Int64
 11  Reason for cancelling by Customer  150000 non-null  string
 12  Cancelled Rides by Driver          150000 non-null  Int64
 13  Driver Cancellation Reason         150000 non-null  string
 14  Incomplete Rides                   150000 non-null  Int64
 15  Incomplete Rides Reason            150000 non-null  string
 16  Booking Value                      150000 non-null  Int64
 17  Ride Distance                      150000 non-null  float64
 18  Driver Ratings                     150000 non-null  float64
 19  Customer Rating                    150000 non-null  float64
 20  Payment Method                     150000 non-null  string
dtypes: Int64(4), datetime64[ns](1), float64(5), object(1), string(10)
memory usage: 24.6+ MB

In [79]:
uber_df["Booking Status"].unique()
uber_df['Incomplete Rides'] = uber_df['Incomplete Rides'].astype('Int64')

Calculating total number of rides completed

In [94]:
total_rides = len(uber_df) # total rides
print(f"Number of rides : {total_rides}")
no_driver_found_count=(uber_df["Booking Status"]=="No Driver Found").sum() # total ride with no driver state
rides_completed = total_rides - (
    uber_df["Incomplete Rides"].sum() + 
    uber_df["Cancelled Rides by Customer"].sum() + 
    uber_df["Cancelled Rides by Driver"].sum() + 
    no_driver_found_count)
print(f"Number of rides completed : {rides_completed}")

Number of rides : 150000
Number of rides completed : 93000

Calculating percentual rides completed

In [92]:
success_rate_rides = (rides_completed / total_rides) * 100
print(f"success_rate : {success_rate_rides : .2f}%")

success_rate :  62.00%

Calculating Average wait time

In [93]:
avg_wait_time = np.mean(uber_df['Avg VTAT'])
print(f"Average wait time : {avg_wait_time : .2f} minutes ")

Average wait time :  7.86 minutes

In [83]:
uber_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  datetime64[ns]
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  string
 3   Booking Status                     150000 non-null  string
 4   Customer ID                        150000 non-null  string
 5   Vehicle Type                       150000 non-null  string
 6   Pickup Location                    150000 non-null  string
 7   Drop Location                      150000 non-null  string
 8   Avg VTAT                           150000 non-null  float64
 9   Avg CTAT                           150000 non-null  float64
 10  Cancelled Rides by Customer        150000 non-null  Int64
 11  Reason for cancelling by Customer  150000 non-null  string
 12  Cancelled Rides by Driver          150000 non-null  Int64
 13  Driver Cancellation Reason         150000 non-null  string
 14  Incomplete Rides                   150000 non-null  Int64
 15  Incomplete Rides Reason            150000 non-null  string
 16  Booking Value                      150000 non-null  Int64
 17  Ride Distance                      150000 non-null  float64
 18  Driver Ratings                     150000 non-null  float64
 19  Customer Rating                    150000 non-null  float64
 20  Payment Method                     150000 non-null  string
dtypes: Int64(4), datetime64[ns](1), float64(5), object(1), string(10)
memory usage: 24.6+ MB

Average trip duration

In [84]:
completed_rides = uber_df[uber_df['Booking Status']=='Completed']
total_trip_duration = completed_rides['Avg CTAT'].sum()
avg_trip_duration = total_trip_duration/completed_rides.shape[0]
print(f"Average trip duration : {avg_trip_duration : .2f} minutes")

Average trip duration :  30.03 minutes

Average ride distance

In [ ]:
# Select only the completed rides and then compute the mean of the 'Ride Distance' column directly.
avg_ride_distance = uber_df[uber_df['Booking Status']=='Completed']['Ride Distance'].mean()

print(f"Average ride distance : {avg_ride_distance : .2f}KM")

Average ride distance :  26.00KM

In [87]:
uber_df['Booking Status'].unique()
uber_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  datetime64[ns]
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  string
 3   Booking Status                     150000 non-null  string
 4   Customer ID                        150000 non-null  string
 5   Vehicle Type                       150000 non-null  string
 6   Pickup Location                    150000 non-null  string
 7   Drop Location                      150000 non-null  string
 8   Avg VTAT                           150000 non-null  float64
 9   Avg CTAT                           150000 non-null  float64
 10  Cancelled Rides by Customer        150000 non-null  Int64
 11  Reason for cancelling by Customer  150000 non-null  string
 12  Cancelled Rides by Driver          150000 non-null  Int64
 13  Driver Cancellation Reason         150000 non-null  string
 14  Incomplete Rides                   150000 non-null  Int64
 15  Incomplete Rides Reason            150000 non-null  string
 16  Booking Value                      150000 non-null  Int64
 17  Ride Distance                      150000 non-null  float64
 18  Driver Ratings                     150000 non-null  float64
 19  Customer Rating                    150000 non-null  float64
 20  Payment Method                     150000 non-null  string
dtypes: Int64(4), datetime64[ns](1), float64(5), object(1), string(10)
memory usage: 24.6+ MB

Average Cancellation Rate

In [88]:
cancellation_rate = (uber_df['Cancelled Rides by Driver'].sum()) + (uber_df['Cancelled Rides by Customer'].sum())
print(f"Cancelled rides : {cancellation_rate} rides")
cancellation_percentage = (cancellation_rate/total_rides*100)
print(f"cancellation percentage : {cancellation_percentage:.2f}%")

#percentage of cancellation by drivers 
print(f"Cancellation rate by drivers : { (uber_df['Cancelled Rides by Driver'].sum()/total_rides*100):.2f}%")
#percent of cancellation rate by customers 
print(f"Cancellation percentage of customers : {(uber_df['Cancelled Rides by Customer'].sum()/total_rides*100):.2f}%")

Cancelled rides : 37500 rides
cancellation percentage : 25.00%
Cancellation rate by drivers : 18.00%
Cancellation percentage of customers : 7.00%

user retention percentage

In [64]:
rides_per_user = uber_df.groupby('Customer ID')['Date'].count()
total_users = rides_per_user.count()
retained_users = (rides_per_user>1).sum()
retention_percentage = (retained_users/total_users)*100
print(f"Retenation percentage:{retention_percentage:.2f}%")

Retenation percentage:0.81%

Monthly active users

In [65]:
uber_df['Month'] = uber_df['Date'].dt.to_period('M')
MAU = uber_df.groupby('Month')['Customer ID'].nunique()
print(f"Monthly active users - 2024 {MAU}")

Monthly active users - 2024 Month
2024-01    12858
2024-02    11915
2024-03    12708
2024-04    12192
2024-05    12764
2024-06    12433
2024-07    12889
2024-08    12628
2024-09    12239
2024-10    12643
2024-11    12389
2024-12    12241
Freq: M, Name: Customer ID, dtype: int64

Month usage frequency

In [66]:
monthly_usage = uber_df.groupby('Month')['Booking ID'].count().reset_index(name='ride_count')
print(f"Usage frequency per month :\n {monthly_usage}")

Usage frequency per month :
       Month  ride_count
0   2024-01       12861
1   2024-02       11927
2   2024-03       12719
3   2024-04       12199
4   2024-05       12778
5   2024-06       12440
6   2024-07       12897
7   2024-08       12636
8   2024-09       12248
9   2024-10       12651
10  2024-11       12394
11  2024-12       12250

Average Revenue per ride

In [90]:
ride_revenue = uber_df['Booking Value'].sum()/ total_rides
print(f"total_revenue : ${uber_df['Booking Value'].sum()}")
print(f"total_revenue_per_ride : ${ride_revenue:.2f}")

total_revenue : $51846183
total_revenue_per_ride : $345.64

Average Revenue per user

In [68]:
ride_revenue_user = uber_df['Booking Value'].sum()/uber_df['Customer ID'].nunique()
print(f"Revenue per ride : ${ride_revenue_user:.2f}")

Revenue per ride : $348.46

Customer Ratings

In [69]:
customer_ratings = uber_df['Customer Rating'].mean()
print(f"customers ratings : {customer_ratings:.2f} / 5 stars")

customers ratings : 2.73 / 5 stars

Driver Ratings

In [70]:
driver_ratings = uber_df['Driver Ratings'].mean()
print(f"Drivers Ratings : {driver_ratings:.2f} / 5 stars")

Drivers Ratings : 2.62 / 5 stars

Summary of Analysis

In [ ]:
# The dataset handled all the null values with fillna() for appropriate datatypes.
# The datatype was changed according to their presence of value using astype().
# Monthly frequent usage is in higher numbers.
# Drivers's rating and customer's rating seems equally low.
# Cancellation percentage of drivers is higher than the customers.




#**Conclusion**:
# This exploratory analysis helped uncover user behavior trends that can guide service optimization and better customer experience.